<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fireway.dao.AdminMenuMapper" >
  <resultMap id="BaseResultMap" type="com.fireway.domain.AdminMenu" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="text" property="text" jdbcType="CHAR" />
    <result column="icon" property="icon" jdbcType="CHAR" />
    <result column="url" property="url" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="is_show" property="isShow" jdbcType="BIT" />
    <result column="pid" property="pid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, text, icon, url, status, is_show, pid
  </sql>


  <select id="findAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from admin_menu
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from admin_menu
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from admin_menu
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.fireway.domain.AdminMenu" >
    insert into admin_menu (id, gmt_create, gmt_modified, 
      text, icon, url, status, 
      is_show, pid)
    values (#{id,jdbcType=CHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{text,jdbcType=CHAR}, #{icon,jdbcType=CHAR}, #{url,jdbcType=CHAR}, #{status,jdbcType=BIT}, 
      #{isShow,jdbcType=BIT}, #{pid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fireway.domain.AdminMenu" >
    insert into admin_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="text != null" >
        #{text,jdbcType=CHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=BIT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fireway.domain.AdminMenu" >
    update admin_menu
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=CHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=CHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=BIT},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fireway.domain.AdminMenu" >
    update admin_menu
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      text = #{text,jdbcType=CHAR},
      icon = #{icon,jdbcType=CHAR},
      url = #{url,jdbcType=CHAR},
      status = #{status,jdbcType=BIT},
      is_show = #{isShow,jdbcType=BIT},
      pid = #{pid,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>